@{

}
<style>
    .carousel-item img {
        max-height: 500px;
        /* Adjust the maximum height as needed */
        width: auto;
        /* Maintain aspect ratio */
    }

    body {
        background-image: url("/images/shsu.webp");
    }
</style>


<div>


    <partial name="~/Views/Shared/_GeneralStylePartial.cshtml" />
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/images/background.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/images/pexels-pixabay-164527.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/deposit.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p></p>
    <div>
        <div class="card-group" style="margin-top:30px; gap:20px">
            <div class="card">
                <img src="/images/images.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <strong>Savings</strong> </h5>
                    <p class="card-text">PERSONAL SAVINGS ACCOUNTS WITH PERSONALITY
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/images (1).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Checkings</strong></h5>
                    <p class="card-text">PERSONAL CHECKING ACCOUNTS TO MEET YOUR NEEDS
                        Builtwell offers a variety of personal checking accounts that take the hassle out of managing
                        your money. Signing up is simple, with a range of account types to fit your needs and
                        preferences.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card">
                <img src="/images/images (2).png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>INVESTMENT & MONEY MARKET</strong> </h5>
                    <p class="card-text">The investment account is managed with a diversified approach, aiming to
                        achieve long-term growth while minimizing risk. The strategy includes a mix of asset classes
                        such as stocks, bonds, mutual funds, and possibly alternative investments, tailored to the
                        account holder's risk tolerance, financial goals, and time horizon.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <article style="margin-top:30px; padding-bottom: 50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Nesciunt, aliquam amet,
        vel explicabo aspernatur
        laboriosam temporibus minus unde autem, doloremque accusantium cupiditate fuga maiores voluptas dolore facilis
        beatae rerum placeat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam eveniet voluptatem eius
        eligendi at corporis ipsam corrupti ipsa impedit quam, id, optio tempora, minima possimus pariatur reiciendis
        cumque fugiat velit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi nulla deserunt perferendis libero eaque
        eum cum iusto, non aperiam culpa distinctio odio. Nesciunt, harum sint explicabo dignissimos repudiandae
        blanditiis?</article>

</div>
